
  body.a{
    padding:0px;
    margin:0px;
    background-color:rgb(79, 111, 82) ;
}
/* navbar */
#bar
{
    display:flex;
    height:200px;
    border-bottom:50px solid rgb(115, 144, 114);
    background-color: rgb(79, 111, 82);
    color:white;
     position:static;
    top:0px;  
    background-image: url("festive.jpg");
    opacity:70% ;
    background-size: cover;
}
#dropdown
{
    height:60px;
    width:60px;
    background-color:red;
    position:fixed; 
    top:0px;
    left:50px; 
    z-index:100;   
}

#items{
    height:auto;
    display:none;
    position:absolute;
    list-style-type:circle;
    text-wrap:nowrap;
    top:50px;
    background-color:rgba(128,0,0,0.646 );
}
 #items a{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    text-decoration:none;
    color:white;
}

#dropdown:hover #items{
  display:flex;
flex-direction:column;
  align-items:left;
}
h1{
    font-size:100px;
    margin-top:100px;
    margin-left:200px;
    font-family:niagara engraved;
    z-index:2;
    color:rgb(80,2,2);
}
/* navbar */
/* content */
#content{
   background-color: rgb(210, 227, 200);
   position:static;
}

h2{
    color:maroon;
    font-size:60px;
    font-family:niagara engraved;
    text-align:center;
    display:block;
}
#aboutus{
    display:flex;
    justify-content: space-evenly;
}
#aboutus article{
    width:700px;
    border:2px solid maroon;
    padding:10px;
}
.illustration{
    width:100%;
    background-image: url("./illustrate1.jpg");
    background-size:cover;
    border:2px solid maroon;
}
#services{
    display:flex;
    justify-content :space-evenly;
}
.ss
{
  width:30%;
border:2px solid maroon;
background-color:rgba(181, 178, 178, 0.584);
margin:20px;
}

 #extra h2{
    text-align:center;
    display:inline;
 }
#extra a{
    color:black;
    font-size:30px;
    font-style: italic;
    text-decoration: underline;
    display:inline;
}
#extra {
    position:relative;
    left:60px;
    display:inline-block;
}
/* /content */
/* footer */
#footer{
    
    position:relative;
    bottom:0px;
    background-color:rgb(79, 111, 82) ;
    color:white;
    display:flex;
}
#footer h2{
    color:white;
    }
#address{
    padding:10px;
    display:inline-block;
    border:2px solid maroon;
    margin:20px;
}
#address a{
     color:blue;
}
#signin h2{
    color:white;
    background-color:  maroon;
}
/* footer */
/* form */
form{
    height:max-content;
    width:50%;
    background-color: rgb(115, 144, 114);
    color:maroon;
    font-size:4em ;
    font-family:'Times New Roman', Times, serif;
    position:fixed;
     left:25%;
    border:2px white solid;
    display:flex;
       flex-direction:column;
}
#submit{
    height:auto;
    width:fit-content;
    border:1px #ffffff solid;
    border-radius:20%;
     font-size:1em;
     color:maroon;
  background-color: rgb(79, 111, 82);
}
.text{
    font-size:50px;
    width:fit-content;
} 
body.b{
    background-color: rgb(79, 111, 82);
}
/* form */
/* responsive */
@media(max-width:800px)  
{
   #bar{
    height:400px;
   }
   #bar h1{
        position:relative;
        top:100px;
        left:-90px;
        text-wrap:nowrap;
   }
   /* #festive{
     width:100%;
   } */
   #dropdown #items{
    flex-direction:column;
   }
   #items a{
    margin:5px;
   }
}
@media(max-width:690px)  
{
   #footer{
    flex-direction:column;  
    align-items: center;
   }
   .illustration{
    display:none;
   }
   #services{
    flex-direction:column;
   }
   .ss{
    width: 60%;
    align-self:center;
   } 
   .text{
    font-size:30px;
   }
}
@media(max-width:470px)
{
    #bar h1{
        text-wrap:balance;
    }
    #extra{
        left:0px;
        width:100%;
    }
    #address{
        width:100%;
        padding:0px;
    }
    .text{
        font-size:20px;
    }
}
@media(max-width:1200px)
{
    form{
        left:0px;
       width:100%;
       height:100%;
       font-size:2em;
       border:none;
       background-color:transparent;
    }
    #submit
    {
        font-size:2em;
        background-color: rgb(115, 144, 114);
    }
}
/*responsive*/
